@import '../../App';

div.CommentSection {
    width: 735px;
    margin: 0 auto;
    padding: 70px 0;
    textarea {
        border: 2px solid $light-gray;
        border-radius: 10px;
        color: $grayish-blue;
        height: 100px;
        padding: 15px 25px;
        position: relative;
        resize: none;
        scrollbar-width: none;
        font-size: 16px;
        line-height: 1.5;
        // box-sizing: border-box;
        font-family: inherit;
        width: 85%;
        &:focus {
            outline: 1.5px solid $dark-blue;
        }
    }
    div.Comments {
        &.indented {
            width: 90%;
            padding-left: 5%;
            margin-left: 5%;
            border-left: 2px solid $light-gray;
        }
    }
    div.add-comment {
        // flex-direction: row;
        // gap: 25px;
        padding: 25px;
        width: 100%;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 20px;
        > :first-child {
            flex-grow: 1;
        }

        button.save {
            background: $moderate-blue;
            border: 0;
            border-radius: 10px;
            color: $white;
            cursor: pointer;
            font-weight: 700;
            padding: 15px 30px;
            text-transform: uppercase;
            transition: 0.3s;
            font-size: 16px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    div.footer {
        display: block;
        // justify-content: center;
        color: $grayish-blue;
        text-align: center;
        margin: 62px auto 0;
        button {
            background: $moderate-blue;
            border: 0;
            border-radius: 10px;
            color: $white;
            cursor: pointer;
            font-weight: 700;
            padding: 10px 18px;
            text-transform: uppercase;
            transition: 0.3s;
            font-size: 14px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

@media (max-width: 770px) {
    div.CommentSection {
        width: 95%;
        box-sizing: border-box;
        div.add-comment {
            display: block;
            button.save {
                margin-top: 13px;
                font-size: 14px;
                padding: 10px 18px;
            }
        }
    }
}
